
{%extends 'layout.html' %}


{%block content%}
{%import "_macros.html" as macros%}
    <h1>Alumnos</h1>
<form action="", method="POST" novalidate>
    <input type="hidden", name="csrf_token", value="{{ csrf_token() }}">
    {{macros.render_field(form.nombre, class = "form-controls")}}
    {{macros.render_field(form.correo)}}
    {{macros.render_field(form.edad)}}
    {{macros.render_field(form.aMaterno)}}
    {{macros.render_field(form.aPaterno)}}
    <input type="submit" value="registrar" name="btn1">
</form>

<h1>{{nom}}</h1>
    

{%endblock%}

    
